body {
  font-family: Georgia, serif;
  background-color: #fdf6e3; /* soft cream / solarized light */
  color: #111;
  max-width: 700px;
  margin: 0;
  padding: 3 rem;
}

h1 {
  font-weight: normal;
  font-size: 2.75rem;
  margin: 0;
  text-transform: lowercase;
  letter-spacing: 0.5px;
}
